@import 'partials/variables';

// @TODO: Go through and identify theme overrides then and add scss for those then compile using internal css and remove external call.
//@import "node_modules/material-design-lite/src/material-design-lite.scss";

@import 'partials/mixins';
@import 'partials/helpers';
@import 'partials/base';
@import 'partials/typography';

@import 'components/inputs';
@import 'components/select';
@import 'components/lists';
@import 'components/alerts';
@import 'components/tables';
@import 'components/spinners';
@import 'components/cards';
@import 'components/dialogs';
@import 'components/material-icons';
@import 'components/social-icons';
@import 'components/breadcrumbs';
@import 'components/badges';
@import 'components/chips';
@import 'components/mdl-selectfield';
@import 'components/mdl-tabs';
@import 'components/weather-card';
@import 'components/weather-icons/weather-icons';
@import 'components/labels';
@import 'components/mdl-toggle';
@import 'components/mdl-color-wheel';
@import 'components/avatar';
@import 'components/dropzone';

@import 'layouts/auth';
@import 'layouts/dashboard';

@import 'partials/demo';

@media print {

  #report-header-title {
    width: 100% !important;
    text-align: center !important;
    color: #30BDCC !important;
    page-break-after: always !important;
  }

  #imports-entries-by-ticket-type {
    display: table !important;
    width: 100% !important;
  }

  #ticket-types-entries-list {
    display: table !important;
    width: 100% !important;
  }

  #maximum-flowrate {
    display: table !important;
    width: 100% !important;
  }

  #total-entries-group {
    display: table !important;
    width: 100% !important;
  }

  #total-imports-group {
    display: table !important;
    width: 100% !important;
  }

  #entries-by-masters {
    display: table !important;
    width: 100% !important;
  }

  #loading-report-animation {
    background: rgb(63,81,181)!important;
  }

  td.description {
    text-align: left !important;
  }

}